.sidebar a{
    display: grid;
    position:relative;
    text-decoration: none;
    font-size: 13px;
    font-family: sans-serif;
    text-align: left;

}
.sidebar a:hover{
    color: rgb(31, 20, 58);
    text-decoration-line: underline;
    
}
.phar{
    color: grey;
    background-image: linear-gradient(to right, rgba(200,204,209,0) 0,#c8ccd1 33%,#c8ccd1 66%,rgba(200,204,209,0) 100%);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size:  100px 1px;
   
    
}
.sidebar2 a{
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 13px;
    font-family: sans-serif;
}
.sidebar2 a:hover{
    color: rgb(31, 20, 58);
    text-decoration-line: underline;
}
.phar1{
    color: grey;
    background-image: linear-gradient(to right, rgba(200,204,209,0) 0,#c8ccd1 33%,#c8ccd1 66%,rgba(200,204,209,0) 100%);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size:  100px 1px;
}
.sidebar3 a{
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 13px;
    font-family: sans-serif;
}
.sidebar3 a:hover{
    color: rgb(31, 20, 58);
    text-decoration-line: underline;
}
.phar2{
    color: grey;
    background-image: linear-gradient(to right, rgba(200,204,209,0) 0,#c8ccd1 33%,#c8ccd1 66%,rgba(200,204,209,0) 100%);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size:  100px 1px;
}
.sidebar4 a{
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 13px;
    font-family: sans-serif;
}
.sidebar4 a:hover{
    color: rgb(31, 20, 58);
    text-decoration-line: underline;
}
.phar3{
    color: grey;
    background-image: linear-gradient(to right, rgba(200,204,209,0) 0,#c8ccd1 33%,#c8ccd1 66%,rgba(200,204,209,0) 100%);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size:  100px 1px;
}
.sidebar5 a{
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 13px;
    font-family: sans-serif;
}
.sidebar5 a:hover{
    color: rgb(31, 20, 58);
    text-decoration-line: underline;
}